rules_version = '2';

// Solo los usuarios creados en Firebase Authentication pueden leer y escribir.
service cloud.firestore {
  match /databases/{database}/documents {
    match /personal/{docId} {
      allow read, write: if request.auth != null;
    }
    match /inventario/{docId} {
      allow read, write: if request.auth != null;
    }
  }
}
